/* Defining flexbox items */
div.signup-row, form#signup-form, div#email-verified {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;

    justify-content: center;
    align-items: center;

}

div#signup-div img {
    width: 200px;
}

div.signup-row:nth-child(1) {
    width: 40%;
}

div.signup-row:nth-child(2) {
    width: 60%;
}

div#signup-div h3 {
    text-align: center;
    padding: 10px;
    margin: 0;
}

div#signup-div p {
    margin: 0;
}

div#signup-div input {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 10px 5px;
    width: 300px;
    border-radius: 10px;
    /* border-color: none; */

    border-style: hidden;

    background-color: #f2f2f2;
    color: #0d0d0d;
}

div#signup-div button {
    border-radius: 10px;
    width: 120px;
    height: 40px;
    font-size: 16px;
    font-weight: normal;
    margin-top: 20px;

    box-shadow: -1px -1px 2px 1px gray;
}

div#signup-div button:focus {
    outline: none;
}

div#email-verified {
    display: none;
}

div#email-verified p {
    text-align: center;
}