html {
    background-color:#1a1a00; /*5% yellow*/
    color: #ffffe6; /*5% yellow*/
    font-family: 'Garamond';
    font-size: 24px;
}

/* Protecting DOM from display to unauthenticated users */
div#protected {
    display: none;
}

/* Buttons 
https://fdossena.com/?p=html5cool/buttons/i.frag */
button {
    display: inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFE6;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#1a1a00;
    text-align:center;
    transition: all 0.2s;
}

button:hover{
    color:#FFFFE6;
    background-color:#1a1a00;
}

@media all and (max-width:30em){
 button  {
        display:block;
        margin:0.4em auto;
    }
}

/* Links */
a {
    color: #ffffe6;
}

a:hover {
    color: #cccc00; /* 40% yellow in black*/
}

/* List items */
ul {
    list-style: none;
}

/* Divs */
div#sidebar {
    float: left;
    width: 20%;
    height: 100vh;
    padding: 10px;
    margin: 10px;
    background-color: #333300; /* 10% yellow*/
}

div#main {
    height: 100vh;
    padding: 20px;
}